:root{
  --colorBack: #47e2fd;
  --almostWhite: #e6e2d5;
  --almostYellow: #fffd92;
  --blackLittleTransp: rgba(0, 0, 0, 0.8);
  --blackMediumTransp: rgba(0, 0, 0, 0.5);
}

*{
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC";
  font-weight: 200;
  font-size: 1.1rem;
  text-shadow: 1px 1px 3px var(--blackMediumTransp);
  color: black;
}

html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

.fundo{
  background-color: var(--colorBack);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 1px 1px 100px 20px black;
  width: 80%;
  height: 100vh;
  color: var(--almostWhite);
  font-family: "Anton";
  font-size: 100px;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 140px;
}

.box{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  flex-shrink: 0;
  background-color: var(--almostWhite);
  box-shadow: 1px 1px 50px 20px black;
  width: 400px;
  height: 100vh;
  text-align: center;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
  margin-left: auto;
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.box-logo{
  padding-top: 10px;
  width: 100%;
  height: 165px;
}

.box-dados{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 200px;
}
.dados-left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 50%;
  height: 200px;
}
.inp{
  text-align: center;
  width: 75%;
  outline: 0;
  border: none;
  border-radius: 8px;
}
.dados-right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 200px;
}
ul{
  margin-top: -7px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
li{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  font-size: 17px;
}
select{
  margin-left: 5px;
  outline: 0;
  border: none;
  border-radius: 8px;
}

.button{
margin-bottom: 20px;
}
.btn{
  cursor: pointer;
  padding-bottom: 0;
  border-bottom: solid 2px transparent;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 8px;


  transition: all ease 400ms;
}
.btn:hover{
  color: var(--almostYellow);
  border-bottom: solid 2px var(--almostYellow);
}

.icon{
  width: 15px;
  border-radius: 8px;
}

@media screen and (max-width:955px){
  .fundo{
    font-size: 75px;
  }
}

@media screen and (max-width:640px){
  .fundo{
    writing-mode:vertical-rl;
    line-height: 45px;
    font-size: 50px;
    transform: rotate(180deg);
  }
}

@media screen and (max-width:547px){
  .box{
    width: 100vw;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}